[submodule "bqplot/nbextension/bqplot/require-less"]
	path = bqplot/nbextension/require-less
	url = https://github.com/guybedford/require-less.git
[submodule "bqplot/nbextension/d3"]
	path = bqplot/nbextension/d3
	url = https://github.com/mbostock/d3.git
[submodule "bqplot/nbextension/topojson"]
	path = bqplot/nbextension/topojson
	url = https://github.com/mbostock/topojson.git
