*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Project files
.mr.developer.cfg
.project
.pydevproject

# Sphinx
_build/
_generate/
_static/
_templates/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Compiled javascript
bqplot/static/
js/css/bqplot.css

# Node modules
node_modules

# OS X
.DS_Store

# git
*.orig

# vim
*.swp

*.tsbuildinfo
