MANIFEST
build
dist
_build

docs/man/*.gz
docs/source/api/generated
docs/gh-pages
bqplot/nbextension/components

less_include
node_modules
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage
.xunit.xml

*.py
.travis.yml
build_css.js
setup.cfg
examples/
